.main-contact {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 90px;
  height: auto;
  display: flex;
  justify-content: space-evenly;
}
.card-info {
  width: 30%;
  border-radius: 5px;
  box-shadow: 10px 15px 20px -20px;
}
.card-info ul li {
  line-height: 3em;
  list-style: none;
  font-size: x-large;
  vertical-align: middle;
  color: rgb(64, 77, 123);
}

.card-form {
  padding: 20px 20px 0 20px;
  border-radius: 5px;
  box-shadow: 10px 15px 20px -20px;
}

.card-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}
.card-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.card-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;

  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.card-form {
  color: slategray;
  margin-right: 10px;
}
.card-form form .campo,
textarea {
  max-width: 530px;
  min-width: 530px;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid steelblue;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
  display: block;
}
.card-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.card-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: steelblue;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.card-form .btn-enviar:hover {
  background: rgb(64, 77, 123);
}
.card-map {
  width: 30%;
  border-radius: 5px;
  box-shadow: 10px 15px 20px -20px;
}

.map {
  display: flex;
  justify-content: center;
}
.frame-map {
  width: 100%;
  height: 400px;
  padding: 0;
  border: none;
}
